.row { 
    display:flex;
    flex-wrap: wrap;
}

.column:last-child {
    padding-right: 0px !important;
}
  
.column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    
    padding: 0 10px 0 0;
}
  
.col-1 {
    max-width: calc(100% / 12);
}
.col-2 {
    max-width: calc(100% / 12 * 2);
}
.col-3 {
    max-width: calc(100% / 12 * 3);
}
.col-4 {
    max-width: calc(100% / 12 * 4);
}
.col-5 {
    max-width: calc(100% / 12 * 5);
}
.col-6 {
    max-width: calc(100% / 12 * 6);
}
.col-7 {
    max-width: calc(100% / 12 * 7);
}
.col-8 {
    max-width: calc(100% / 12 * 8);
}
.col-9 {
    max-width: calc(100% / 12 * 9);
}
.col-10 {
    max-width: calc(100% / 12 * 10);
}
.col-11 {
    max-width: calc(100% / 12 * 11);
}
.col-12 {
    max-width: calc(100%);
}
  
  
@media screen and (max-width: 768px) {
    .container {
        overflow: auto;
    }
        .column {
        min-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}
  