/* .addItemPanel element{
} */

.addItemButton{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    width: 100%;
    padding: 10px;
}

.addItemButton:hover{
    color: #79818f;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}

.label {
    font-size: 12px;
}